# Python
__pycache__/
*.py[cod]
*.egg-info/
.pytest_cache/
.mypy_cache/
.ruff_cache/
.DS_Store

# Envs
.env
config/.env
.venv/
venv/

# Streamlit
.streamlit/secrets.toml

# Project data/exports
data/
export/

# Editors/OS
.idea/
.vscode/
Thumbs.db
